@media (max-width: 991px) {
  section {
    padding: 75px 0;
  }

  #inicio {
    flex-direction: column;
  }

  .inicio_foto {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .inicio_titulo {
    font-size: 45px;
  }

  .inicio_tituloPrimario,
  .inicio_tituloSecundario {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .inicio_bg {
    background-image: url(./img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  section {
    padding: 60px 0;
  }

  .inicio_foto {
    margin-bottom: 30px;
  }

  .inicio_titulo {
    font-size: 30px;
  }

  .inicio_tituloPrimario,
  .inicio_tituloSecundario {
    font-size: 25px;
  }

  .tituloSobreMi {
    font-size: 25px;
  }
  
  .tituloSobreMi:after {
    width: 110px;
    height: 3px;
  }
  
  .section__subtitle {
    font-weight: normal;
  }
  
  .descripcionSobreMi {
    padding-right: 0px;
  }
  
  .gridSobreMi {
    grid-template-columns: 1fr;
  }
  
  .titulosHabilidades {
    grid-column: span 2;
  }
  
  .habilidadesSobreMi {
    grid-template-columns: 1fr 1fr ;
  }

}



