* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

a:hover {
  color: #bbbbbb;
}



html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #f5f5f5;
  background: #040402;
}

section {
  padding: 90px 0;
  text-align: center;
  background: #040402;
}

/* ----------------------------NAVBAR */

.navbar{
    background-color: #040402;
}

.navbar-brand::before {
  content: "<";
  color: #56cfe1;
}

.navbar-brand::after {
  content: "/>";
  color: #56cfe1;
}

/* ---------------------------INICIO */



#inicio {
  min-height: 100vh;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}

.inicio_bg {
  background-color: #8e8e8e;
  background-image: url(./img/fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.inicio_foto {
  height: 250px;
  border-radius: 50%;
  margin-right: 40px;
  filter: grayscale(1);
  transition: filter 0.3s;
}

.inicio_foto:hover {
  transition: filter 0.3s;
  filter: grayscale(0);
}

.inicio_titulo {
    font-size: 60px;
    text-shadow: 1px 1px black;
    color: #56cfe1;
  }
  
  .inicio_tituloPrimario,
  .inicio_tituloSecundario {
    font-size: 45px;
    color: #f5f5f5;
    text-shadow: 1px 1px black;
  }

  /* -------------------- SOBRE MI */
  .tituloSobreMi {
    color: #f5f5f5;
    font-size: 35px;
    margin-bottom: 30px;
  }
  
  .tituloSobreMi:after {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: #56cfe1;
    margin: 10px auto 40px;
  }
  
  .gridSobreMi {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .descripcionSobreMi {
    text-align: center;
    color: #8e8e8e;
    line-height: 40px;
  }
  
  
  
  .descripcionSobreMi span {
    color: #f5f5f5;
  }
  
  .descripcionSobreMi h2 {
    color: #f5f5f5;
    margin: 20px 0;
  }
  
  .habilidadesSobreMi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .titulosHabilidades {
    color: #8e8e8e;
    grid-column: span 3;
    text-align: left;
  }
  
  .habilidadesItem {
    background: #191919;
    font-size: 50px;
    color: #8e8e8e;
    padding: 35px;
    transition: all 0.3s;
    min-width: 130px;
  }
  
  .habilidadesItem:hover {
    color: #f5f5f5;
    transition: all 0.3s;
  }
  
  .habilidadesNombre {
    font-size: 16px;
    text-align: center;
  }
  .imgHabilidades{
    height: 15vh;
    width: 15vh;
  }

  /* ---------------------------------------HABILIDADES */
