* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

a:hover {
  color: #bbbbbb;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #f5f5f5;
  background: #040402;
}

section {
  padding: 90px 0;
  text-align: center;
  background: #040402;
}

/* ----------------------------NAVBAR */

.navbar{
    background-color: #040402;
}

.navbar-brand::before {
  content: "<";
  color: #cefe1a;
}

.navbar-brand::after {
  content: "/>";
  color: #cefe1a;
}

/* ---------------------------INICIO */



#inicio {
  min-height: 100vh;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}

.inicio_bg {
  background-color: #8e8e8e;
  background-image: url(./img/fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.inicio_foto {
  height: 250px;
  border-radius: 50%;
  margin-right: 40px;
  filter: grayscale(1);
  transition: filter 0.3s;
}
.inicio_foto:hover {
  transition: filter 0.3s;
  filter: grayscale(0);
}
.inicio_titulo {
    font-size: 60px;
    text-shadow: 1px 1px black;
    color: #cefe1a;
  }
  
  .inicio_tituloPrimario,
  .inicio_tituloSecundario {
    font-size: 45px;
    color: #f5f5f5;
    text-shadow: 1px 1px black;
  }
